
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-size: 15px;
    background-color: 	#b3f0ff;
    font-family: 'Poppins'
    
}

.istuff{
  position: absolute;
  left: 25%;
  margin: 30px;
  font-size:20px;
}


#Yesbtn{
  height: 45px;
  width:75px;
  background-color: limegreen;
  border-radius: 15px;
  padding: 5px;
  color: white;
  
  

}
#Nobtn{
  height: 45px;
  width:75px;
  background-color: red ;
  border-radius: 15px;
  padding: 5px;
  color: white;
  

}

#para{
  color: red;
}

#Ty{
  height: 3em;
  width: 7 em;
  font-size: 20px;
  border-radius: 7px;
  background-color: beige;
}
